@import './breakpoints';
@import './colors';

.form-container {
  max-width: 30rem;
}

.alert {
  margin-bottom: 2rem;
}

.submit-button.MuiButton-contained {
  background-color: $text;
  color: #fff;
  margin-top: 2rem;

  &:hover {
    background-color: $primary;
    color: $text;
  }
}
