@import "./breakpoints";
@import "./colors";

.main-photo,
.main-photo-2,
.secondary-photo-1,
.secondary-photo-2,
.secondary-photo-3 {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100%;
    min-height: 30rem;
}

.secondary-photo-3 {
    background-position: center;
}

.main-photo {
    background-image: url("../../src/images/main_sunflowers_760px.webp");

    @include media-breakpoint-up(md) {
        background-image: url("../../src/images/main_sunflowers_1200px.webp");
        height: 75vh;
    }

    @include media-breakpoint-up(lg) {
        background-image: url("../../src/images/main_sunflowers_2600px.webp");
    }
}

.main-photo-2 {
    background-image: url("../../src/images/main-photo-2_760px.webp");

    @include media-breakpoint-up(md) {
        background-image: url("../../src/images/main-photo-2_1200px.webp");
        height: 75vh;
    }

    @include media-breakpoint-up(lg) {
        background-image: url("../../src/images/main-photo-2_2600px.webp");
    }
}

@for $i from 1 through 3 {
    .secondary-photo-#{$i} {
        background-image: url("../../src/images/secondary_photo_#{$i}_760px.webp");
        @include media-breakpoint-up(md) {
            background-image: url("../../src/images/secondary_photo_#{$i}_1200px.webp");
            height: 75vh;
        }
    }
}
